.Normal_text {font-family:'Lato';font-weight:normal;font-style:normal;font-size:13px;text-decoration:none;text-transform: none;color:#817A74;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_1 {font-family:'Lato';font-weight:normal;font-style:normal;font-size:48px;text-decoration:none;text-transform: none;color:#000000;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_2 {font-size:32px;}
.Heading_3 {font-family:'Lato Light';font-weight:300;font-size:24px;color:#7675B7;}
.Normal_text_a {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:13px;text-decoration:none;text-transform: none;color:#000000;-webkit-text-stroke: 0px black;letter-spacing:0em;}
